*.h   eol=crlf
*.c   eol=crlf
*.cpp   eol=crlf
*.hpp   eol=crlf
*.py   eol=crlf
*.txt   eol=crlf
*.md   eol=crlf
*.bat   eol=crlf
*.txt   eol=crlf
#ignore python language
FasterRCNN_SE_Train/* linguist-vendored
FasterRCNN_SE_Detection/*.bat linguist-vendored
